<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="header row">
            <a href="/"><img class="logo" src="~/img/logo_IMR.gif" alt=""></a>
            <p>»The scanning of documents and management of accounts payable are cost-intensive processes. The full range of services provided by IMR in digitisation and archiving releases potential savings and economies of significant proportions.«</p>
        </div>
        @{Html.RenderAction("_Menu", "Home");}
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <div class="tuev-logo"><a href="http://www.imrgmbh.de/en/quality.html"><img src="~/img/tuev_logo.jpg" alt=""></a></div>
            <p>&copy; @DateTime.Now.Year, IMR GmbH</p>
            <ul>
                <li><a href="en/contact.html">Contact</a>&nbsp;|&nbsp;</li>
                <li><a href="en/disclaimer.html">Disclaimer</a></li>
            </ul>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
