@model IMR.ViewModels.ArticleVM
@using System.Threading;
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sameCategoryArticles = (List<IMR.ViewModels.ArticleVM>)ViewBag.SameCategoryArticles;
}
<div class="row">
    <div class="col-sm-3 left-panel">
        <ul class="unternavigation">
            @foreach (var sameCategoryArticle in sameCategoryArticles)
            {
                var currentClass = sameCategoryArticle.ArticleId == Model.ArticleId ? "current" : "";
                <li class="@currentClass"><a href="/@Thread.CurrentThread.CurrentUICulture.Name.Substring(0, 2)/a/@ViewBag.CategoryName/@sameCategoryArticle.SeoTitle">@sameCategoryArticle.Title</a></li>
            }
        </ul>
        <img src="~/img/@Model.Avatar" />
        <div class="address">
            <strong>IMR Image-Management GmbH</strong>
            <br>
            Neue Weilheimer Straße 14
            <br>
            73230 Kirchheim u. Teck
            <br><br>
            Tel.: 07021 485078
            <br>
            Fax.:  07021 83411
        </div>
        <div class="contact">
            <a href="en/contact.html">
                <img src="~/img/icon_contact.jpg" alt="">
                <p>Please use our contact form to get in touch with us.</p>
            </a>
        </div>
    </div>

    <article class="col-sm-9">
        <h2>@Model.Title</h2>
        <span class="description">@Html.Raw(Model.Description)</span>
        <span class="content">@Html.Raw(Model.Content)</span>
    </article>
</div>

