@model IMR.ViewModels.ArticleVM
@using System.Threading;
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sameCategoryArticles = (List<IMR.ViewModels.ArticleVM>)ViewBag.SameCategoryArticles;
}
<div class="row">
    <div class="col-sm-3 left-panel">
        <ul class="unternavigation">
            @foreach (var sameCategoryArticle in sameCategoryArticles)
            {
                var currentClass = sameCategoryArticle.ArticleId == Model.ArticleId ? "current" : "";
                <li class="@currentClass"><a href="~/@Thread.CurrentThread.CurrentUICulture.Name.Substring(0, 2)/a/@ViewBag.CategoryName/@sameCategoryArticle.SeoTitle">@sameCategoryArticle.Title</a></li>
            }
        </ul>
        @if (!string.IsNullOrEmpty(Model.Avatar))
        {
            <img src="~/img/@Model.Avatar" />
        }
        @{Html.RenderAction("_Address", "Home");}
        @{Html.RenderPartial("_Contact");}
    </div>

    <article class="col-sm-9">
        <h2>@Model.Title</h2>
        <span class="description">@Html.Raw(Model.Description)</span>
        <span class="content">@Html.Raw(Model.Content)</span>
    </article>
</div>

