@using System.Threading;
@using IMR.Utils;
@model IMR.ViewModels.ContactVM
@{
    ViewBag.Title = Resources.IMRResources.Contact;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-3 left-panel">
        <ul class="unternavigation">
            <li class="current"><a href="~/@Thread.CurrentThread.CurrentUICulture.Name.Substring(0, 2)/@Resources.IMRResources.Contact.GenerateSeoTitle()">@Resources.IMRResources.Contact</a></li>
            <li><a href="~/@Thread.CurrentThread.CurrentUICulture.Name.Substring(0, 2)/@Resources.IMRResources.Disclaimer.GenerateSeoTitle()">@Resources.IMRResources.Disclaimer</a></li>
        </ul>
        @{Html.RenderAction("_Address", "Home");}
    </div>

    <article class="col-sm-9">
        <h2>@Resources.IMRResources.Contact_Title</h2>
        @if (Model == null)
        {
            <span class="description">@Resources.IMRResources.Contact_Description</span>
            <form class="form-horizontal" id="contactForm" method="post">
                <fieldset class="col-sm-10">
                    <div class="form-group">
                        <label for="contactPerson" class="col-sm-3 col-sm-offset-1 control-label">@Resources.IMRResources.Contact_ContactPerson*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="contactPerson" name="ContactPerson" placeholder="@Resources.IMRResources.Contact_ContactPerson" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firm" class="col-sm-3 col-sm-offset-1 control-label">@Resources.IMRResources.Contact_Firm</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="firm" name="Firm" placeholder="@Resources.IMRResources.Contact_Firm">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col-sm-10">
                    <div class="form-group">
                        <label for="street" class="col-sm-3 col-sm-offset-1 control-label">@Resources.IMRResources.Contact_Street</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="street" name="Street" placeholder="@Resources.IMRResources.Contact_Street">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="postcode" class="col-sm-3 col-sm-offset-1 control-label">@Resources.IMRResources.Contact_Postcode</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="postcode" name="Postcode" placeholder="@Resources.IMRResources.Contact_Postcode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="town" class="col-sm-3 col-sm-offset-1 control-label">@Resources.IMRResources.Contact_Town</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="town" name="Town" placeholder="@Resources.IMRResources.Contact_Town">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col-sm-10">
                    <div class="form-group">
                        <label for="telephoneNumber" class="col-sm-3 col-sm-offset-1 control-label">@Resources.IMRResources.Contact_TelephoneNumber</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="telephoneNumber" name="TelephoneNumber" placeholder="@Resources.IMRResources.Contact_TelephoneNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress" class="col-sm-3 col-sm-offset-1 control-label">@Resources.IMRResources.Contact_EmailAddress*</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="emailAddress" name="EmailAddress" placeholder="@Resources.IMRResources.Contact_EmailAddress" required>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col-sm-10">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="freeTrial" name="FreeTrial"> @Resources.IMRResources.Contact_FreeTrial
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="callback" name="Callback"> @Resources.IMRResources.Contact_Callback
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col-sm-10">
                    <div class="form-group">
                        <label for="subject" class="col-sm-3 col-sm-offset-1 control-label">@Resources.IMRResources.Contact_Subject</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="subject" name="Subject">
                                <option value="">@Resources.IMRResources.YourChoice</option>
                                <option value="@Resources.IMRResources.Contact_Subject_InvoiceDataEntry">@Resources.IMRResources.Contact_Subject_InvoiceDataEntry</option>
                                <option value="@Resources.IMRResources.Contact_Subject_ArchiveScanning">@Resources.IMRResources.Contact_Subject_ArchiveScanning</option>
                                <option value="@Resources.IMRResources.Contact_Subject_DrawingScanning">@Resources.IMRResources.Contact_Subject_DrawingScanning</option>
                                <option value="@Resources.IMRResources.Contact_Subject_DataAcquisition">@Resources.IMRResources.Contact_Subject_DataAcquisition</option>
                                <option value="@Resources.IMRResources.Contact_Subject_MicrofilmApertureCardScanning">@Resources.IMRResources.Contact_Subject_MicrofilmApertureCardScanning</option>
                                <option value="@Resources.IMRResources.Other">@Resources.IMRResources.Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-3 col-sm-offset-1 control-label">@Resources.IMRResources.Contact_Message</label>
                        <div class="col-sm-8">
                            <textarea rows="4" class="form-control" id="message" name="Message" placeholder="@Resources.IMRResources.Contact_Message"></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-default pull-right">@Resources.IMRResources.Send</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <span class="description">@Html.Raw(Resources.IMRResources.Contact_Thanks)</span>
        }

    </article>
</div>







